@import url('http://fonts.cdnfonts.com/css/billabong');
#logo {
  font-family: 'Billabong', sans-serif;
  text-align: center;
  font-size: 48px;
}
section.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  font-size: 30px;
  display: flex;
  padding: 20px;
}

.post-card img {
  width: 469px;
  border-radius: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}